.img1 {
    width: 600px;
    border: 10px solid;
    color: #d00197;
    position: relative;
    left: 689px;
}
#div1 {
    color: black;
    width: 160px;
    text-align: center;
    position: relative;
    bottom: 497px;
    left: 942px;
    font-family: "Georgia";
    transform: rotate(-15deg);
}
#date {
    width: 225px;
    border: 5px solid;
    background-color: black;
    color: #d00197;
    position: absolute;
    left: 1115px;
    text-align: center;
    bottom: 185px;
    font-size: small;
}
#Location {
    width: 436px;
    border: 5px solid;
    background-color:black;
    color: #d00197;
    position: absolute;
    left: 653px;
    text-align: center;
    font-size: small;
    bottom: 185px;
}
#info {
    width: 717px;
    border: 10px dotted;
    color: #d00197;
    position: absolute;
    left: 632px;
    text-align: center;
    font-size: small;
    bottom: 88px;
    background-color: black
}
#QA {
    width: 430px;
    border: 5px solid;
    color: #d00197;
    position: absolute;
    left: 785px;
    text-align: center;
    font-size: small;
    bottom: 21px;
    background-color: black;
}
.img2 {
    width: 1092px;
    bottom: 1308px;
    left: 398px;
    position: relative;
    z-index: -1;
    transform: rotate(270deg);
}
a {
    color: black;
}
#RSVP {
    background-color: rgb(220, 115, 181);
    width: 265px;
    height: 40px;
    text-align: center;
    font-size: 33px;
    position: absolute;
    bottom: 434px;
    left: 747px;
    transform:rotate(70deg);
    letter-spacing: 20px;
    font-family: 'Georgia';
}
#div2 {
    color: black;
    width: 160px;
    text-align: center;
    position: relative;
    font-family: "Georgia";
    left:867px;
    bottom: -47px;
}
.y2k1 { width: 400px;
    color:#d00197;
    border:double 10px;
    position:relative;
    left:505px;}
.y2k2 { width: 400px;
    color:#d00197;
    border:double 10px;
 position:relative;
    left:545px;}
.y2k3 { width: 420px;
    color:#d00197;
    border:double 10px;
 position:relative;
    left:585px;}
.y2k4 { width: 420px;
    color:#d00197;
    border:double 10px;
 position:relative;
    left:-1270px;}
body {background-color:#f4a3d6}
#div3 {
    color:black;
width: 822px;
font-size: 30px;
    font-family: 'Georgia';
    position:absolute;
    left:541px;
}
